
@font-face {
    font-family: "weddingFont";
    src: url('/Floriselscript.ttf');
}

@font-face {
    font-family: "KarstenThin";
    src: url('/Cormorant-Book.otf');
}

.salutation_text {
    font-family: "weddingFont";
    color: #ffe8cf;
    font-size: 1000%;
    text-shadow: #120f03 1px 0 10px;
}

.salutation_date {
    font-family: "weddingFont";
    color: #ffe8cf;
    font-size: 500%;
    text-shadow: #120f03 1px 0 10px;
}

.text_white_header {
    font-family: "KarstenThin";
    color: #ffffff;
    font-size: 500%;
    text-align: center;
    width: 50%;
    margin-top: .7em;
    margin-bottom: .7em;
}

.text_white_content {
    font-family: "KarstenThin";
    color: #ffffff;
    font-size: 200%;
    text-align: center;
    width: 50%;
}

.text_peach_header {
    font-family: "KarstenThin";
    color: #c99979;
    font-size: 500%;
    text-align: center;
    width: 50%;
    margin-top: .7em;
    margin-bottom: .7em;
}

.text_peach_mini_header {
    font-family: "KarstenThin";
    color: #c99979;
    font-size: 250%;
    text-align: center;
    width: 50%;
    font-weight: bold;
    margin-bottom: .7em;
}

.text_peach_content {
    font-family: "KarstenThin";
    color: #c99979;
    font-size: 200%;
    text-align: center;
    width: 50%;
}

.footer {
    margin-bottom: 5em;
}

.divider {
    border-bottom: solid 3px #c99979; 
    margin-bottom: 3em;
    margin-top: 3em;
    min-width: 20%;
}


.main {
    background-image: url('/backflowers.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.salutation {
    margin: auto;
    width: 100%;
    min-width: 100%;
}

.slogan {
    margin: auto;
    background-color: #c99979;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.programm {
    margin: auto;
    background-color: #c99979;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.programmContent {
    color: white;
}

.rsvp {
    margin: auto;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.button-row {
    margin-top: 1.5em;
}

.acceptButton {
    min-width: 15em;
    min-height: 4em;
    background-color: #b89076;
}


.center {
    margin: auto;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*Центрирование по горизонтали*/
    align-items: center;
    /*Центрирование по вертикали */
}

.mat-vertical-content-container {
    visibility: false !important;
    display: none !important;
}

.success_block {
    margin-bottom: 1em;
}

.success_icon {
    color: darkgreen;
    transform: scale(2);
}

.centerButton {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5em
}

.faq {
    margin: auto;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.thx {
    color: #867f7ccb;
    font-size: 200%;
}

.mapLink {
    min-width: 7em;
    min-height: 2em;
    background-color: #ebc7a3;
    margin-top: 1em;
}