<ng-container>
    <div class="formBlock">
        <form [formGroup]="guestForm" appFocusInvalidInput autocomplete="off">
            <div class="nameSurnameDelete">
                <div class="inputValue">
                    <mat-form-field autocomplete="off">
                        <input matInput placeholder="Введите имя*" formControlName="name" autocomplete="off" />
                        <mat-error *ngIf="showErrorName">{{errorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="inputValue">
                    <mat-form-field autocomplete="off">
                        <input matInput placeholder="Введите фамилию*" formControlName="surname" autocomplete="off" />
                        <mat-error *ngIf="showErrorSurname">{{errorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <button mat-fab class="leftedButton" (click)="doDeleteGuest()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            <div class="question">
                <mat-label>Подтвердите присутствие</mat-label>
                <mat-radio-group formControlName="guestAcceptance" (change)="onChange($event)">
                    <mat-radio-button [value]="true" [checked]="true">Буду</mat-radio-button>
                    <mat-radio-button [value]="false">Не смогу прийти</mat-radio-button>
                </mat-radio-group>
            </div>
            <ng-container *ngIf="selectedValue">
                <div class="divider"></div>
                <div class="question">
                    <mat-label class="inputLabel">Основное блюдо?</mat-label>
                    <mat-form-field class="selectFood">
                        <mat-select formControlName="food">
                            <mat-option *ngFor="let food of FOOD_ENUM"
                                [value]="food.foodName">{{food.foodName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="question">
                    <mat-label>Будет ли вам необходим трансфер?</mat-label>
                    <mat-radio-group formControlName="transfer">
                        <mat-radio-button [value]="true" [checked]="true">Да</mat-radio-button>
                        <mat-radio-button [value]="false">Нет</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="question">
                    <label>Останетесь ли вы на ночь?</label>
                    <mat-radio-group formControlName="night">
                        <mat-radio-button [value]="true">Да</mat-radio-button>
                        <mat-radio-button [value]="false">Нет</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="question">
                    <label>Предпочтения по напиткам*</label>
                    @if (showErrorDrinks) {
                    <mat-error class="errorFont">{{errorMessage()}}</mat-error>
                    }
                    <mat-checkbox formControlName="schampange">Игристое</mat-checkbox>
                    <mat-checkbox formControlName="vine">Вино</mat-checkbox>
                    <mat-checkbox formControlName="strongalcohol">Крепкий алкоголь</mat-checkbox>
                    <mat-checkbox formControlName="alcoholfree">Безалкогольные напитки</mat-checkbox>
                </div>
                <div class="question">
                    <mat-label class="inputLabel">Комментарий</mat-label>
                    <mat-form-field>
                        <textarea matInput placeholder="Любые пожелания..." formControlName="comment"></textarea>
                    </mat-form-field>
                </div>
            </ng-container>
        </form>
    </div>
</ng-container>