/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-stepper {
    .mat-vertical-content-container .mat-vertical-stepper-content {
        display: none !important;
    }

    .mat-step-icon {
        background-color: var(--mat-stepper-header-selected-state-icon-background-color);
        color: var(--mat-stepper-header-selected-state-icon-foreground-color);
    }
}